img {
    max-width: 1000px;
}

img:hover{
    
    opacity: 0.6;
    color: black;

}

h3{
    text-align: center;
    
}


p{
   text-align: center; 
   font-size: 25px;
}

.carroussel{
    text-align: center;
    
}

.E{
    font-size: 100px;
    float: left;
    font-style: italic;

}

.container{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.rounded-circle{
    height: 90px;
    width: 90px;
}









