@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.navbar {
    background: rgba(63, 195, 128, 1)!important;
}

.carousel-item {
    max-height: 93.9vh;
    letter-spacing: 0.25rem;
  }
.carousel-item  img {
    margin: 0 auto;
    background-size: cover;
}
.center-block{
   
    float: right;
}

footer {
    padding-top: 10px;
}

#footer {
    background: rgba(63, 195, 128, 1) !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-top: 20px;
    color:#ffffff;
    margin-top: .5rem!important;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    margin-top: 0.85rem;
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
    transition: .5s all ease;
    
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
    transition: .5s all ease;
    margin-bottom: 0;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.quick-links {
    margin-bottom: 0.5rem;
}


@media (max-width:767px) {
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 0px;
    }
    .img-chateau1{
    display:none;
    }
    .img-chateau2{
    display: block;
    }
    .img-elephant1{
    display:none;
    }
    .img-elephant2{
    display: block;
    }
    .img-pommeraye1{
    display:none;
    }
    .img-pommeraye2{
    display: block;
    }
    
}

/* GALLERY */
.img-wrap {
    width: 300px;
    height: 200px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    background: black;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all .3s ease-in-out;
}

.img-wrap:hover {
    box-shadow: 0px 5px 40px 2px rgba(0, 0, 0, .4);
}

.photo {
    display: block;
    position: absolute;
    opacity: .65;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    transition: all .2s ease-in-out;
}

.photo:hover {
    opacity: 1;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}