@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');

* {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background: #f7f7f7 !important;
}

.navbar-brand {
    letter-spacing: -1px;
    font-weight: 700;
}

.carousel-item {
    max-height: 93.9vh;
    letter-spacing: 0.25rem;
}
.carousel-item  img {
    margin: 0 auto;
    background-size: cover;
}
.center-block{
   
    float: right;
}
#galerie {
    min-height: 93.9vh;
}

#footer {
    padding-top: 10px;
    background: #f7f7f7 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #222;
    padding-bottom: 6px;
    margin-top: 20px;
    margin-top: .5rem!important;
    color: #222 !important;
}
#footer a {
    text-decoration: none !important;
    background-color: transparent;
    color: #222 !important;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    margin-top: 0.85rem;
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
    transition: .5s all ease;
    
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color: #222 !important;
}
#footer ul.social li a:hover{
	color: #222 !important;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
    transition: .5s all ease;
    margin-bottom: 0;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.quick-links {
    margin-bottom: 0.5rem;
}



/* GALLERY */
.img-wrap {
    width: 300px;
    height: 200px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    background: black;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all .3s ease-in-out;
}

.img-wrap:hover {
    box-shadow: 0px 5px 40px 2px rgba(0, 0, 0, .4);
}

.photo {
    display: block;
    position: absolute;
    opacity: .65;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    transition: all .2s ease-in-out;
}

.photo:hover {
    opacity: 1;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.titre {
    font-size: 2rem;
    font-weight: 700;
}
.contenu {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem !important;
    font-weight: 500 !important;
}

.image-wrapper {
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}
.image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .img-chateau1{
        display:none;
    }
    .img-chateau2{
        display: block;
    }
    .img-elephant1{
        display:none;
    }
    .img-elephant2{
        display: block;
    }
    .img-pommeraye1{
        display:none;
    }
    .img-pommeraye2{
        display: block;
    }
}

#contacts {
    letter-spacing: 2px;
    min-height: 93.9vh; 
    }
  #contacts a{
    color: #222;
    text-decoration: none;
  }

  .formulaire-map, .formulaire-contact{
    margin-top:5rem;
  }
  
  @media (max-width: 575.98px) {
  
    #contacts{padding-bottom: 4.5rem;}
    #contacts .maps .map{
      width: 100%;
      height: 450px;
    }
   }
    
  @media (min-width: 576px) {
  
     #contacts{padding-bottom: 4.5rem;}
  
     #contacts .maps .map{
       width: 100%;
       height: 450px;
     }
   }
  
  @media (min-width: 768px) {
  
    #contacts{padding-bottom:4.5rem;}
  
    #contacts .maps .map{
      width: 100%;
      height: 850px;
    }
  }
  
  @media (min-width: 992px) {
    #contacts{padding-bottom: 4.5rem;}
  
     #contacts .maps .map{
       width: 100%;
       height: 700px;
     }
  }
  
.article p {
    text-align: justify;
    color: #222;
    font-size: 1.5rem;
    font-weight: 500;
}

.first-p::first-letter {
    font-style: italic;
    font-weight: 800;
    font-size: 4rem;
    padding-right:0.05em;
    color: #000;
}

.profile-picture {
    width: 115px;
    height: 115px;
    border-radius: 115px;
}

.media-object {
    border-radius: 6px;
    background-color: #f8f8f8;
    padding: 20px;
}

.titre-article {
    font-weight: 700;
    font-size: 4rem;
}